<div class="container mt-5">
  <div class="card shadow-effect">
    <div class="card-body">
      <div class="text-center mt-3 mb-5">
        <h3>SUBSCRIPTION FORM</h3>
        <p class="m-auto subs-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          quasi quos voluptatem laborum officiis.
        </p>

        <div *ngIf="isEmailError" class="alert alert-danger mt-3">
            Email Already in use
        </div>

        <form class="form-inline m-5" #subForm="ngForm" (ngSubmit)="onSubmit(subForm.value)">
          <div class="row">
            <div class="form-group col-md-5 my-1">
              <input
                type="text"
                class="form-control"
                placeholder="Your Name"
                name="name"
                #Name = 'ngModel'
                ngModel
                required=""
                [ngClass]="{'is-invalid': Name.touched && Name.invalid}"
                />

                <div class="text-danger" *ngIf="Name.touched && Name.invalid">
                    <div *ngIf="Name.errors?.['required']">Name is required</div>
                </div>
            </div>
            <div class="form-group col-md-5 my-1">
              <input
                type="email"
                class="form-control"
                placeholder="Your Email Adress"
                name="email"
                #Email = 'ngModel'
                ngModel
                required
                email
                [ngClass]="{'is-invalid': Email.touched && Email.invalid}"
              />


              <div class="text-danger" *ngIf="Email.touched && Email.invalid">
                <div *ngIf="Email.errors?.['required']">Email is required</div>
                <div *ngIf="Email.errors?.['email']">Please enter a valid Email</div>
            </div>

            </div>

            

            <div class="col-md-2 my-1">
              <button class="btn btn-primary btn-block btn-theme" [disabled]="subForm.invalid">
                SUBSCRIBE
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
