<div class="container">
    <div class="card shadow-effect">
        <div class="card-body">
            <div class="text-center mt-3 mb-5">
                <h3>SUBSCRIPTION FORM</h3>
                <p class="m-auto subs-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quasi quos voluptatem laborum officiis doloribus, atque laudantium molestias perferendis dolores odit volupt.
                </p>
    
                <form action="" class="form-inline my-5 mx-5">
                    <div class="row">
                        <div class="form-group col-md-5">
                            <input type="text" class="form-control shadow-effect" placeholder="Your Name">
                        </div>
                        <div class="form-group col-md-5">
                            <input type="email" class="form-control shadow-effect" placeholder="Your Email Adress">
                        </div>
        
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-block btn-sub">SUBSCRIBE</button>
                        </div>
                    </div>
    
                </form>
            </div>
        </div>
    </div>
</div>
