          
          <ion-header>
            <h3>Login Page</h3>
          </ion-header>
          
          <ion-content>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input
                type="email"
                class="form-control"
                placeholder="Email"
                name="email"
                #Email="ngModel"
                ngModel
                required
                email
                [ngClass]="{'is-invalid': Email.touched && Email.invalid}"
                ></ion-input>

                <div class="text-danger" *ngIf="Email.touched && Email.invalid">
                  <div *ngIf="Email.errors?.required">Email required</div>
                  <div *ngIf="Email.errors?.email">Email format invalid</div>
                </div>

              </ion-item>

              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input
                type="password"
                class="form-control mt-2"
                placeholder="Password"
                name="password"
                #Password="ngModel"
                ngModel
                required
                [ngClass]="{'is-invalid': Password.touched && Password.invalid}"
                ></ion-input>
              </ion-item>
            
              <div class="text-danger" *ngIf="Password.touched && Password.invalid">Password required</div>

              <ion-item>
                <ion-button class="btn-block btn-primary btn-theme mt-2" [disabled]="loginForm.invalid">Login</ion-button>
              </ion-item>

          </form>
       
          </ion-content>
          