<ion-content [fullscreen]="true">

  <ion-header class="ion-no-border ">

  </ion-header>

    <ion-row>
      <ion-col>
        <ion-img src="../../../assets/logo/logo.png"></ion-img>
      </ion-col>
    </ion-row>

</ion-content>

<ion-footer  >
  <ion-list lines="full">
    <ion-list-header class="ion-margin">
      <ion-label>
        Créer un compte
      </ion-label>
    </ion-list-header>

    <ion-item-group class="ion-margin-horizontal">
      <form [formGroup]="signupForm" autocomplete="off">
        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input formControlName="email" type="email" placeholder="Email Address">
         
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" > {{formError.email}}  </ion-text>
        </div>

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Mot de passe</ion-label>
            <ion-input formControlName="password" type="password" placeholder="Password">
          
            </ion-input>
          </ion-item>
         <ion-text class="error" color="danger" > {{formError.password}}  </ion-text>
       
        </div>

        <ion-button 
          size="large" 
          expand="block" 
          shape="round" 
          color="primary" (click)="signup()"
          [disabled]="signupForm.invalid">
          <ion-text color="light" >Créer un compte</ion-text>
          <ion-spinner name="dots" *ngIf="showSignupSpinner"></ion-spinner>
        </ion-button>
      </form>
    </ion-item-group>

    <p class="ion-text-center">
      <ion-text>Vous avez deja un compte?</ion-text>
    </p>

    <p class="ion-text-center">
      <ion-text [routerLink]="['/login']" color="secondary">Connectez-vous</ion-text>
    </p>

  </ion-list>
</ion-footer>
