<!-- <ion-card *ngIf="annonceData" (click)="navigate()"> -->
  <!-- <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>{{annonceData.data.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content> -->



  
    <ion-card *ngIf="annonceData" (click)="navigate()">
    <ion-item class="ion-padding-vertical popItem" >
      <ion-thumbnail slot="start">

          <img src="{{annonceData?.data?.annonceImgPath}}"/>

      </ion-thumbnail>
      <ion-label>
        <ion-note color="dark"><b>{{annonceData?.data?.title}}</b></ion-note>
        <p class="ion-text-wrap">{{annonceData?.data?.date}}</p>
        <p>
          <ion-text color="dark">{{annonceData?.data?.lieu}}</ion-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-card>


  