$shadow: 0 13px 26px rgba(#000, .2), 0 3px 6px rgba(#000, .2);


  .wrapper {
      background: #fff;
      height: 100vh;

      .profile {
          margin-top: 4em;
          position: relative;
          
          &:after {
              width: 100%;
              height: 1px;
              content: ' ';
              display: block;
              margin-top: 1.3em;
              background: #E9EFF6;
          }
          
          .thumbnail {
              width: 200px;
              height: 200px;
              display: flex;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 1.5em;
              border-radius: 100%;
              box-shadow: $shadow;
          }
          .name {
              color: #2D354A;
              font-size: 24px;
              font-weight: 600;
              text-align: center;
              text-transform: uppercase;

          }
          
          .title {
              color: #7C8097;
              font-size: .75em;
              font-weight: 300;
              text-align: center;
              padding-top: .5em;
              padding-bottom: .7em;
              letter-spacing: 1.5px;
          }

          .description{
            padding: 20px;
          }
          
      }
      
  }

  ion-button{
    margin-left: 10vw;
  }
  