<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4>Leave e Comment</h4>
        <p>You can leave a comment using this comment form</p>

        <form action="">
            <div class="form-group">
                <input type="text" class="form-control shadow-effect" placeholder="Enter your Name">
            </div>
            <div class="form-group">
                <textarea name="" id="" cols="30" rows="10" class="form-control shadow-effect" placeholder="Add your comment her"></textarea>
            </div>

            <button class="btn btn-primary mt-3 btn-theme">Add a Comment</button>
        </form>
    </div>
</div>