<ion-app>

  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/add-annonce']" tab="add-annonce">
        <ion-icon name="calendar"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/home']" tab="home">
        <ion-icon name="map"></ion-icon>
      </ion-tab-button>
  
        
      <ion-tab-button [routerLink]="['/profile']" tab="profile">
        <ion-icon name="person-circle"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-app>
