<div class="card my-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="my-3"> Comments (15,456)</h4>
        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger">LAST UPDATED - SEP 20,2021</small>

            <div class="my-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id nobis quibusdam incidunt quidem cupiditate sapiente sed, repudiandae numquam debitis ipsa?
            </div>
            <a href="#" class="mt-1"> Replay </a>
            <a href="#" class="mt-1 ml-3">View Replay</a>

            <hr>
        </div>

        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger">LAST UPDATED - SEP 20,2021</small>

            <div class="my-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id nobis quibusdam incidunt quidem cupiditate sapiente sed, repudiandae numquam debitis ipsa?
            </div>
            <a href="#" class="mt-1"> Replay </a>
            <a href="#" class="mt-1 ml-3">View Replay</a>

            <hr>
        </div>

        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger">LAST UPDATED - SEP 20,2021</small>

            <div class="my-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id nobis quibusdam incidunt quidem cupiditate sapiente sed, repudiandae numquam debitis ipsa?
            </div>
            <a href="#" class="mt-1"> Replay </a>
            <a href="#" class="mt-1 ml-3">View Replay</a>

            <hr>
        </div>
    </div>
</div>