<section class="mt-5">
    <div class="container p-5 my-5 bg-theme">
        <h1 class="text-white text-center">Terms & Conditions</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil voluptate aliquam, corrupti blanditiis molestias inventore ipsum animi cumque consectetur? Rem.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum sapiente omnis vel repudiandae accusamus at.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur quibusdam ipsam vel. Quidem asperiores fugiat nemo quo numquam!</p>

                <div class="text-center">
                    <button class="btn btn-sm mt-4 btn-theme">Back to home</button>
                </div>
        </div>
    </div>
</section>