.featured-section{
    background-color: var(--primary-color);
}

@media only screen and (min-width: 900px) {
   .featured-section {
      padding: 0 60px 60px 60px;
    }
}

@media only screen and (min-width: 700px) {
    .featured-section {
    padding: 0 20px 20px 20px;
    }
}