<div class="container">
    <div class="row">
        <div class="col-md-9 mt-3">
            <div class="card shadow-effect ">
                <img class="card-img-top img-fluid img-post" src="{{postData.postImgPath}}" alt="">

                <div class="card-body">
                    <small class="bg-light text-danger text-center mx-2">{{postData.category.category}}</small>
                    <small *ngIf="postData.isFeatured" class="bg-light text-success text-center mx-2">Featured</small>
                    <small class="bg-light text-info text-center mx-2"> Views - {{postData.views}} </small>
                    <small class="bg-light text-warning text-center mx-2"> Last Updated - {{postData.createdAt.toMillis() | date}}</small>

                    <h1 class="my-3">{{postData.title}}</h1>
                    <p [innerHtml]="postData.content"></p>
                </div>
            </div>

            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3 mt-2">

            <h3 class="mt-3 mx-2 text-theme-primary">Related posts</h3>

            <div *ngFor="let similarPost of similarPostArray">
                <app-post-card [postData]="similarPost"></app-post-card>
            </div>
            

        </div>
    </div>
</div>