<footer class="mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-logo">Info-Social</div>
                <div>
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Terms & Condition</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Contact us</a></li>
                    </ul>
                </div>
                <p class="mb-2 mt-2 text-theme-primary">Copyright Info-Social 2022</p>
            </div>
        </div>
    </div>
</footer>