/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --primary-color: #026467!important;
    --secondary-color: #E5F5EA!important;
    --body-text-color: #596392!important;
    --navbar-footer-color: #F9F9F9!important;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--body-text-color);
}

.site-logo{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.nav-link{
    color: var(--primary-color)!important;
}

.shadow-effect{
    border: none!important;
    box-shadow: 0 0 33px -10px rgba(71, 114, 254, .3);
}

.bg-theme{
    background-color: var(--primary-color);
}

.bg-secondary-theme{
    background-color: var(--secondary-color);
}

.text-theme-primary{
    color: var(--primary-color);
}

input[type = text], input[type = email]{
    height: 50px;
    padding-left: 20px;
    font-size: 13px;
}

.btn-theme{
    height: 48px;
    padding: 8px 60px;
    font-size: 13px;
    background-color: var(--primary-color)!important;
    border: none !important;
    color: white !important;
}

a{
    text-decoration: none !important;
}