<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-title size="large">Blank</ion-title> -->
    </ion-toolbar>
  </ion-header>
  <ion-button [routerLink]="['/add-annonce']">add</ion-button>

  <div *ngFor="let activeAnnonce of activeAnnonceArray">
  <app-annonce-card [annonceData]="activeAnnonce"></app-annonce-card>

  </div>


</ion-content>
