<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-title size="large">Blank</ion-title> -->
    </ion-toolbar>
  </ion-header>
  <ion-button [routerLink]="['/add-annonce']">add</ion-button>

  <div class="ion-padding" (ionChange)="segmentChanged($event)">
    <ion-segment mode="ios" [value]="segmentValue">
      <ion-segment-button *ngFor="let category of categoryArray; let i = index"  value={{i+1}}>
        <ion-label [routerLink]="['/category',category.data.category, category.id]">{{category.data.category}}</ion-label>
      </ion-segment-button>

    </ion-segment>
  </div>

  <div *ngFor="let activeAnnonce of activeAnnonceArray">
  <app-annonce-card [annonceData]="activeAnnonce"></app-annonce-card>

  </div>


</ion-content>