<div class="card shadow-effect mt-3">
    <img class="card-img-top" src="https://images.pexels.com/photos/2666598/pexels-photo-2666598.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-image">

    <div class="card-body">
        <small class="bg-light text-danger text-center mx-2">Design</small>
        <small class="bg-light text-success text-center mx-2">Featured</small>
        <small class="bg-light text-info text-center mx-2">Views - 100 540</small>

        <h5 class="mt-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit</h5>
        <!-- <P>Lorem ipsum dolor sit amet consectetur adipisicing .</P> -->

        <small class="bg-light text-warning text-center mx-2">Last Updated - sep 20, 2020</small>
    </div>
</div>