<div class="card shadow-effect mt-3" *ngIf="postData" [routerLink]="['/post', postData.id]">
    <img class="card-img-top" src="{{ postData.data.postImgPath }}" alt="post-image">

    <div class="card-body">
        <small class="bg-light text-danger text-center mx-2">{{postData.data.category.category}}</small>
        <small *ngIf="postData.data.isFeatured" class="bg-light text-success text-center mx-2">Featured</small>
        <small class="bg-light text-info text-center mx-2">Views - {{ postData.data.views }}</small>

        <h5 class="mt-1">{{ postData.data.title }}</h5>
        <P>{{ postData.data.excerpt }}</P>

        <small class="bg-light text-warning text-center mx-2">Last Updated - {{ postData.data.createdAt.toMillis() | date}}</small>
    </div>
</div>